.dropdown__header * {
    padding: 0;
    margin: 0;
  }
  .dropdown__header {
    display: flex;
    align-items: center;
    background: lightblue;
  }
  
  .dropdown__header strong {
    margin-left: 5px;
    margin-right: auto;
    font-size: 1.6rem;
  }
  
  .dropdown__header .dropdown__categories,
  .dropdown__header .dropdown__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown__header li {
    padding: 10px;
    position: relative;
  }
  
  .dropdown__header li:hover {
    background: #d2f2fc;
  }
  
  .dropdown__header .dropdown__category .dropdown__menu {
    display: none;
    position: absolute;
    background: #ebfaff;
    width: 200px;
    top: 50px;
    right: 0;
  }
  
  .dropdown__header .dropdown__category:hover .dropdown__menu {
    display: block;
  }